@model WebApplication1.Models.Employee
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.Emp_Id" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Emp_Id" />
                 <div class="form-group">
                <label asp-for="Emp_Name" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input asp-for="Emp_Name" class="form-control" />
                </div>
                <span asp-validation-for="Emp_Name" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Emp_Adress" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input asp-for="Emp_Adress" class="form-control" />
                </div>
                <span asp-validation-for="Emp_Adress" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="mobno" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input asp-for="mobno" class="form-control" />
                </div>
                <span asp-validation-for="mobno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sallary" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input asp-for="Sallary" class="form-control" />
                </div>
                <span asp-validation-for="Sallary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input asp-for="age" class="form-control" />
                </div>
                <span asp-validation-for="age" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Dept_Id" class="control-label">Department Name</label>
                <select asp-for="Dept_Id" asp-items="ViewBag.Dept_Id" class="form-control"></select>
            </div>
           @* <div class="form-group">
                <label asp-for="StateId" class="control-label">State Name</label>
                <select asp-for="StateId" asp-items="ViewBag.StateId" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="CityId" class="control-label">city Name</label>
                <select asp-for="CityId" asp-items="ViewBag.CityId" class="form-control"></select>
            </div>

            <form asp-action="Cascading">
                <div class="form-group">
                    <label class="control-label">States</label>
                    <select asp-items="ViewBag.Statements" id="States" name="States" class="form-control">
                        <option value="">Select States</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Cities</label>
                    <select id="City" class="form-control" name="City">
                    </select>
                </div>
                <br />
                <br />

            </form>*@
            <div class="form-group">
                <label asp-for="StateId" class="control-label">State Name</label>
                <select id="stateDropdown" asp-for="StateId" asp-items="ViewBag.StateId" class="form-control"></select>
            </div>

            <div class="form-group">
                <label asp-for="CityId" class="control-label">City Name</label>
                <select id="cityDropdown" asp-for="CityId" class="form-control"></select>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>
            <script>
                $(document).ready(function () {
                    // Handle change event of the state dropdown
                    $('#stateDropdown').change(function () {
                        var selectedStateId = $(this).val();
                        // Fetch cities based on the selected state
                        $.get('/Employee/GetCitiesByState', { stateId: selectedStateId }, function (data) {
                            // Populate the city dropdown with fetched cities
                            $('#cityDropdown').empty();
                            $.each(data, function (index, city) {
                                $('#cityDropdown').append($('<option>', {
                                    value: city.cityId,
                                    text: city.cityName
                                }));
                            });
                        });
                    });
                });
            </script>


          
