@model IEnumerable<Department>
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }

       
    </style>
</head>
<body>
    <form method="post" asp-controller="Department" asp-action="Index">
        <span>Department Name:</span><input type="text" name="DepartmentName" />
        <input type="submit" value="Search" />
        <br /><br />
        <table>
            <thead>
                <tr>
                    <th>Department Id</th>
                    <th>Department Name</th>
                   <th>Edit or Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model)
                {
                    <tr>
                        <td>@customer.DepId</td>
                        <td>@customer.DepName</td>
                        
                        <td>
                            <a asp-action="Update" asp-route-id="@customer.DepId">Update</a> |
                            <a asp-action="Delete" asp-route-id="@customer.DepName">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
</body>
</html>

