@model OneToMany1.Models.Department
@{
}

<h2>Add New Employee</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label asp-for="DeptName">Department Name:</label>
        <input asp-for="DeptName" class="form-control" />
        <span asp-validation-for="DeptName" class="text-danger"></span>
    </div>
}

<p>
    <a asp-action="Index">Back to List</a>
</p>
