@model Demo.Models.Employee 
@{
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.EmpId" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmpId" />
            <div class="form-group">
                <label asp-for="EmpName" class="control-label" for="Emp_Name">Employee Name</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input asp-for="EmpName" class="form-control" id="Emp_Name" />
                </div>
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>

          

            <div class="form-group">
                <label asp-for="Mobno" class="control-label" for="mobno">Mobile Number</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input asp-for="Mobno " class="form-control" id="mobno" />
                </div>
                <span asp-validation-for="Mobno " class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Salary" class="control-label" for="Sallary">Salary</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input asp-for="Salary" class="form-control" id="Sallary" />
                </div>
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>

            @* <div class="form-group">
                <div class="input-group">
                    <label asp-for="Gender" class="control-label" for="Sallary">Gender</label>

                    <div class="input-group-prepend">
                    </div>
                    <input asp-for="Gender" type ="radio" name="radio" value=" Male" />
                    <input asp-for="Gender" type="radio" name="radio" value=" Female" />

                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="Gender" class="control-label">Gender</label>
                <div class="input-group">
                    <div class="input-group-prepend"></div>
                    <label class="radio-inline">
                        <input asp-for="Gender" type="radio" value="Male" name="Gender"> Male
                    </label>
                    <label class="radio-inline">
                        <input asp-for="Gender" type="radio" value="Female" name="Gender"> Female
                    </label>
                </div>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="DepId" class="control-label" for="DepId">Department Name</label>
                <select asp-for="DepId" asp-items="ViewBag.DepId" class="form-control" id="DeptId"></select>
            </div>

            <div class="form-group">
                <label asp-for="CountryId" class="control-label" for="countryDropdown">Country Name</label>
                <select asp-for="CountryId" asp-items="ViewBag.CountryId" class="form-control" id="countryDropdown"></select>
            </div>

            <div class="form-group">
                <label asp-for="StateId" class="control-label" for="stateDropdown">State Name</label>
                <select asp-for="StateId" asp-items="ViewBag.StateId" class="form-control" id="stateDropdown"></select>
            </div>
            @* <div class="form-group">
                <label asp-for="StateId" class="control-label" for="stateDropdown">State Name</label>
                <select asp-for="StateId" class="form-control" id="stateDropdown"></select>
            </div> *@

            <div class="form-group">
                <label asp-for="CityId" class="control-label" for="cityDropdown">City Name</label>
                <select asp-for="CityId" class="form-control" id="cityDropdown"></select>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>

        </form>
    </div>
</div>


    <script>
        $(document).ready(function () {
            // Handle change event of the country dropdown
            $('#countryDropdown').change(function () {
                var selectedCountryId = $(this).val();
                // Fetch states based on the selected country
                $.get('/Employee/GetStatesByCountry', { countryId: selectedCountryId }, function (data) {
                    // Populate the state dropdown with fetched states
                    $('#stateDropdown').empty();
                    $.each(data, function (index, state) {
                        $('#stateDropdown').append($('<option>', {
                            value: state.stateId,
                            text: state.stateName
                        }));
                    });
                });
            }); 

            // Handle change event of the state dropdown
            $('#stateDropdown').change(function () {
                var selectedStateId = $(this).val();
                // Fetch cities based on the selected state
                $.get('/Employee/GetCitiesByState', { stateId: selectedStateId }, function (data) {
                    // Populate the city dropdown with fetched cities
                    $('#cityDropdown').empty();
                    $.each(data, function (index, city) {
                        $('#cityDropdown').append($('<option>', {
                            value: city.cityId,
                            text: city.cityName
                        }));
                    });
                });
            });
        });
    </script>








