@model ModelPopupOnetoMany.Models.Enrollment

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.EnrollmentId" onsubmit="return jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnrollmentId" />

            <div class="form-group">
                <label asp-for="DateOfEnrollment" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                    <input asp-for="DateOfEnrollment" class="form-control" />
                </div>
                <span asp-validation-for="DateOfEnrollment" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="CourseId" class="control-label"></label>
                    <input asp-for="CourseId" class="form-control" />
                    <span asp-validation-for="CourseId" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group">
                <div class="col-md-6 offset-md-3">
                    <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                </div>
            </div>
        </form>
    </div>
</div>