@model Concurrency_Handle.Models.Department

<h1>Department Details</h1>
<dl>
    <dt>Department ID</dt>
    <dd>@Model.DepartmentId</dd>
    <dt>Name</dt>
    <dd>@Model.Name</dd>
</dl>
<a asp-action="Index">Back to List</a>
