@model OneToMany1.Models.Employee
@{
}



<h2>Delete Employee</h2>

<h3>Are you sure you want to delete this employee?</h3>
<div>
    <h4>Employee Id: @Model.Id</h4>
    <h4>Name: @Model.Name</h4>
</div>